body{
    justify-content: center;
    align-content: center;
    background-color: white;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto 0;
}

span{
    display: flex;
    flex-direction: row;
    font-size: 50px;
    font-family: Trebuchet MS;
}

#g{
    color: #4285F4;
}

#o1{
    color: #EA4335;
}

#o2{
    color: #FBBC05;
}

#l{
    color: #34A853;
}

#e{
    color: #EA4335;
}

.search{
    display: flex;
    justify-content: center;
    width: 50vw;
    margin: 0 auto;
    border-radius: 50px;
    border-style: outset; 
    border-color: grey;
    height: 50px;
    
}

.searchLense{
    margin: 10 10;
    display: flex;
    max-height: 20vh;
    border-radius: 50px;
}

input{
    display: flex;
    border: 0;
    border-color: white;
    width: 50vw;
    border-radius: 50px;
    width: 50vw;
    height: 40px;
}

.favorites{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    max-width: 50vw;
    margin-bottom: 5px;
}

.icon{
    width: 50px;
    padding: 50px;
    border-radius: 80px;
}
